---
import Base from '../layouts/Base.astro';
---

<Base title="About">
  <p>Hello, <a href="/">mahata.github.io</a> is a place for <a href="https://github.com/mahata">me</a> to write tech memos :)</p>
</Base>
