---
import Base from '../layouts/Base.astro';
import { getCollection } from 'astro:content';
import { sortPostsByDate, formatDate, getSlugFromId } from '../utils/posts';

const posts = await getCollection('blog', ({ data }) => !data.draft);
const sortedPosts = sortPostsByDate(posts);
---

<Base title="Relentlessly prune bullshit!" description="Memoranda of computer topics.">
  <h1>Posts</h1>
  
  <ul class="posts">
    {sortedPosts.map((post) => (
      <li>
        <span class="post-date">
          {formatDate(post.data.date)}
        </span>
        <a href={`/blog/${getSlugFromId(post.id)}/`}>{post.data.title}</a>
      </li>
    ))}
  </ul>

  <p class="rss-subscribe">subscribe <a href="/rss.xml">via RSS</a></p>
</Base>

<style>
  .posts {
    list-style: none;
    padding: 0;
  }

  .posts li {
    display: flex;
    margin-bottom: 0.75rem;
  }

  .post-date {
    min-width: 120px;
    color: #666;
    font-size: 0.9rem;
  }

  .posts a {
    text-decoration: none;
  }

  .posts a:hover {
    text-decoration: underline;
  }

  .rss-subscribe {
    margin-top: 2rem;
    font-size: 0.9rem;
    color: #666;
  }
</style>
